@use '../helpers' as *;

.calculator {
  padding-block: rem(48);

  &__container {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    align-items: center;
    text-align: center;
  }

  &__title {
    font-size: rem(36);
    font-weight: 700;
    color: var(--color-dark);
  }

  &__form {
    display: grid;
    gap: rem(24);
    width: 100%;
    max-width: rem(480);
    background-color: var(--color-light);
    padding: rem(32);
    border-radius: rem(12);
    box-shadow: var(--shadow);
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      font-weight: 600;
      font-size: rem(14);
      margin-bottom: rem(8);
      color: var(--color-dark-40);
    }

    input,
    select {
      width: 100%;
      padding: rem(12);
      border: var(--border);
      border-radius: rem(6);
      background-color: var(--color-light);
      font-size: rem(16);
      color: var(--color-dark-20);

      &:focus {
        outline: none;
        border-color: var(--color-accent);
      }
    }
  }

  &__button {
    width: 100%;
    padding: rem(14);
    background: var(--color-accent);
    color: var(--color-dark);
    font-weight: 600;
    font-size: rem(16);
    border: none;
    border-radius: rem(8);
    cursor: pointer;
    transition: background var(--transition-duration);

    &:hover {
      background: var(--color-accent);
    }
  }

  &__result {
    margin-top: rem(16);
    font-size: rem(18);
    font-weight: 500;
    color: var(--color-dark);
  }
}
